
RewriteEngine on
RewriteCond %{HTTP_HOST} ^deluge\.cameronlattz\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.deluge\.cameronlattz\.com$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/cameronlattz\.dynu\.com\:8112" [R=301,L]

